.contenedor{
  background-color: aqua;
  text-align: center;
}

.img2{
    background-color:yellow;
}

.img3{
    background-color:palevioletred;
}

.img4{
    background-color:brown;
}

.img5{
    background-color:blueviolet
}

