 body{
  background-color: bisque;
 }


html {
    font-size: 55%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

.tit1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 85%;
}
  
.tit2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 85%;
}