.tit1:hover{
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aqua;
}


.tit2:hover{
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(253, 255, 127);
}

.tit3:hover{
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(0, 17, 255);
}

.tit4:hover{
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(50, 97, 97);
}

.tit5:hover{
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(30, 255, 0);
}

.tit6:hover{
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(255, 0, 85);
}


  
  
   
       
       